/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Source Code Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  height: 100%;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left {
  width: calc(50% - 10px);
}

.right {
  width: calc(50% - 10px);
}

.left,
.right {
  height: 100%;
}

.code-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  resize: none;
  font-family: "Source Code Pro", monospace;
}

iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  margin-bottom: 8px;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav .logo {
  font-size: 24px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav .logo {
    font-size: 18px;
  }

  nav .nav-links {
    display: none;
  }

  .left,
  .right {
    width: 100%;
    height: 100%;
  }

  .right {
    margin-top: 18px;
  }
}
