body {
  height: 100%;
  padding: 20px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left {
  width: calc(50% - 10px);
}

.right {
  width: calc(50% - 10px);
}

.left,
.right {
  height: 100%;
}

.code-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  resize: none;
}

iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    height: 100%;
  }

  .right {
    margin-top: 16px;
  }
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}
